@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
padding: 91px 150px 173px 124px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    width: 662px;
}


h1{
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
}
.left p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
}

.right{
    width: 366px;
}
.right img{
    width: 100%;
}

.down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:94px;
}

.image{
    width: 232px;
}

.image img{
    width: 100%;
}


.list{
    display: flex;
    padding-right: 314px ;
}

li{
    width: 150px;
    margin-left: 95px;
}

